<!-- Connect -->
<div class="container-fluid padding">
    <div class="row text-center ">
        <div class="col-12">
            <h2>Check Us Out At:</h2>
        </div>
        <div class="col-12 social">
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
        </div>
    </div>
</div>

<!-- Footer -->
<footer>
    <div class="container-fluid padding">
        <div class="row text-center">
            <div class="col-md-4">
                <hr class="light">
                <h5>Company Details</h5>
                <hr class="light">
                <p>555-555-5555</p>
                <p>email@email.com</p>
                <p>100 Street Name</p>
                <p>City, State, 0000</p>

            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Our hours</h5>
                <hr class="light">
                <p>Monday: 9am - 5pm</p>
                <p>Saturday: 10am - 4pm</p>
                <p>Sunday: closed</p>
            </div>
            <div class="col-md-4">
                <hr class="light">
                <h5>Service Area</h5>
                <hr class="light">
                <p>Kuala Lumpur</p>
                <p>Subang Jaya</p>
                <p>Petaling Jaya</p>
                <p>Cheras</p>
            </div>
        </div>
    </div>
</footer>








</div>


</body>


</html>