<%- include("partials/header") %>

<link rel="stylesheet" href="/styles.css">
<div id="our-story" class="container">
    <div class="our-story-title">
        <h1 class="display-3">Our Story</h1>
    </div>

    <div class="our-story-content">
        <div class="row">
            <div class="col-lg-6 mb-3">
                <img class="img-fluid" src="aboutusImage\photo for about us.jpg" alt="about us photo">
            </div>

            <div class="col-lg-6">
                <div class="row justify-content-center text-center">
                    <h3>"We guide university students to a greater dressing culture."</h3>
                    <div class="col-9 ">
                        <p>As a uni student, we saw many other students out there have no idea how to dress up
                            themselves.
                            Some
                            students simply just wear shorts and polo tee to attend classes, which is a no go to attract
                            people's attention. Our name comes from the words 'university' and 'clothing' - simple and
                            strong.
                            What we wear can define who we are. Our goal is to guide students start dressing
                            appropriately.
                            We
                            also make our clothing comfortable and light so that our students can withstand the hot
                            weather
                            from
                            Malaysia.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="History-of-Company" class="container">
    <div class="jumbotron">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="historyofComp">History of Company</h1>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h4>August 2018</h4>
                <p>We met each other during orientation in Sunway University. We knew each other because we are from
                    the
                    same
                    course.</p>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h4>November 2018</h4>
                <p>We realize that many students in Sunway University especially men are bad at dressing themselves.
                </p>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h4>January 2019</h4>
                <p>We decided to create our own brand to encourage other people to dress nicely. We started
                    designing
                    our
                    clothes
                    and find sponsors for our first batch of clohting</p>
            </div>
            <div class="col-sm-12 col-lg-6">
                <h4>March 2019</h4>
                <p>We release our clothing and we were getting really good feedback from our customers. Many of
                    Sunway
                    students
                    bought our clothing and we started seeing more and more people wearing it in campus.</p>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid padding">
    <div class="row text-center">
        <div class="col-12">
            <h1 class="display-4">Meet the Team</h1>
        </div>
        <hr>
    </div>
</div>

<div class="container padding">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="aboutusImage/bg.jpg" alt="">
                <img class="team-img" src="aboutusImage/tom.png" alt="">
                <br>
                <div class="card-body">
                    <h2 class="card-title">Frankey</h2>
                    <p class="lead">Mastermind</p>
                    <p class="card-text">The one who create the company.</p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="aboutusImage/bg.jpg" alt="">
                <img class="team-img" src="aboutusImage/tom.png" alt="">
                <br>
                <div class="card-body">
                    <h2 class="card-title">Ze Yen</h2>
                    <p class="lead">Web Developer</p>
                    <p class="card-text">The one who create the website.</p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="aboutusImage/bg.jpg" alt="">
                <img class="team-img" src="aboutusImage/tom.png" alt="">
                <br>
                <div class="card-body">
                    <h2 class="card-title">Heng</h2>
                    <p class="lead">Designer</p>
                    <p class="card-text">The one who design the clothes.</p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card">
                <img class="card-img-top" src="aboutusImage/bg.jpg" alt="">
                <img class="team-img" src="aboutusImage/tom.png" alt="">
                <br>
                <div class="card-body">
                    <h2 class="card-title">KS</h2>
                    <p class="lead">Customer Service</p>
                    <p class="card-text">The one who deal with customers.</p>
                    <a href="#" class="btn btn-outline-secondary">See Profile</a>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include("partials/footer") %>