<%- include("partials/header") %>
<div class="container arrival padding">
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img class="d-block menModel" src="/indexImage/menModel.jpg" alt="First slide">
                <div class="carousel-caption">
                    <h1>New Arrivals</h1>
                    <p>Get ready for spring with our lastest collection</p>
                </div>
                <div class="arrival-context">
                    <h4>Logo Tee</h4>
                    <h4>$40</h4>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container padding">
    <div class="items-wrapper">
        <h1>Men T-shirt</h1>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12 best-seller-content">
                <div class="card">
                    <img src="clothingImage/mt1.jpg" alt="" class="card-img">
                    <img class="card-bg" src="clothingImage/mt2.jpg" alt="">
                    <div class="desc-wrapper">
                        <br>
                        <h5 class="card-title">Plain Tee - White </h5>
                        <p class="card-text">RM 40.00</p>
                        <a href="#" class="btn btn-outline-success btn-sm">Check it out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card">
                    <img src="clothingImage/mt1.jpg" alt="" class="card-img">
                    <img class="card-bg" src="clothingImage/mt2.jpg" alt="">
                    <div class="desc-wrapper">
                        <br>
                        <h5 class="card-title">Plain Tee - White </h5>
                        <p class="card-text">RM 40.00</p>
                        <a href="#" class="btn btn-outline-success btn-sm">Check it out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card">
                    <img src="clothingImage/mt1.jpg" alt="" class="card-img">
                    <img class="card-bg" src="clothingImage/mt2.jpg" alt="">
                    <div class="desc-wrapper">
                        <br>
                        <h5 class="card-title">Plain Tee - White </h5>
                        <p class="card-text">RM 40.00</p>
                        <a href="#" class="btn btn-outline-success btn-sm">Check it out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card">
                    <img src="clothingImage/mt1.jpg" alt="" class="card-img">
                    <img class="card-bg" src="clothingImage/mt2.jpg" alt="">
                    <div class="desc-wrapper">
                        <br>
                        <h5 class="card-title">Plain Tee - White </h5>
                        <p class="card-text">RM 40.00</p>
                        <a href="#" class="btn btn-outline-success btn-sm">Check it out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container padding">
    <div class="items-wrapper">
        <h1>Men T-shirt</h1>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12 best-seller-content">
                <div class="card">
                    <img src="clothingImage/mt1.jpg" alt="" class="card-img">
                    <img class="card-bg" src="clothingImage/mt2.jpg" alt="">
                    <div class="desc-wrapper">
                        <br>
                        <h5 class="card-title">Plain Tee - White </h5>
                        <p class="card-text">RM 40.00</p>
                        <a href="#" class="btn btn-outline-success btn-sm">Check it out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card">
                    <img src="clothingImage/mt1.jpg" alt="" class="card-img">
                    <img class="card-bg" src="clothingImage/mt2.jpg" alt="">
                    <div class="desc-wrapper">
                        <br>
                        <h5 class="card-title">Plain Tee - White </h5>
                        <p class="card-text">RM 40.00</p>
                        <a href="#" class="btn btn-outline-success btn-sm">Check it out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card">
                    <img src="clothingImage/mt1.jpg" alt="" class="card-img">
                    <img class="card-bg" src="clothingImage/mt2.jpg" alt="">
                    <div class="desc-wrapper">
                        <br>
                        <h5 class="card-title">Plain Tee - White </h5>
                        <p class="card-text">RM 40.00</p>
                        <a href="#" class="btn btn-outline-success btn-sm">Check it out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card">
                    <img src="clothingImage/mt1.jpg" alt="" class="card-img">
                    <img class="card-bg" src="clothingImage/mt2.jpg" alt="">
                    <div class="desc-wrapper">
                        <br>
                        <h5 class="card-title">Plain Tee - White </h5>
                        <p class="card-text">RM 40.00</p>
                        <a href="#" class="btn btn-outline-success btn-sm">Check it out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container padding">
    <div class="items-wrapper">
        <h1>Men T-shirt</h1>
        <div class="row">
            <div class="col-lg-3 col-sm-6 col-xs-12 best-seller-content">
                <div class="card">
                    <img src="clothingImage/mt1.jpg" alt="" class="card-img">
                    <img class="card-bg" src="clothingImage/mt2.jpg" alt="">
                    <div class="desc-wrapper">
                        <br>
                        <h5 class="card-title">Plain Tee - White </h5>
                        <p class="card-text">RM 40.00</p>
                        <a href="#" class="btn btn-outline-success btn-sm">Check it out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card">
                    <img src="clothingImage/mt1.jpg" alt="" class="card-img">
                    <img class="card-bg" src="clothingImage/mt2.jpg" alt="">
                    <div class="desc-wrapper">
                        <br>
                        <h5 class="card-title">Plain Tee - White </h5>
                        <p class="card-text">RM 40.00</p>
                        <a href="#" class="btn btn-outline-success btn-sm">Check it out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card">
                    <img src="clothingImage/mt1.jpg" alt="" class="card-img">
                    <img class="card-bg" src="clothingImage/mt2.jpg" alt="">
                    <div class="desc-wrapper">
                        <br>
                        <h5 class="card-title">Plain Tee - White </h5>
                        <p class="card-text">RM 40.00</p>
                        <a href="#" class="btn btn-outline-success btn-sm">Check it out</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 col-xs-12">
                <div class="card">
                    <img src="clothingImage/mt1.jpg" alt="" class="card-img">
                    <img class="card-bg" src="clothingImage/mt2.jpg" alt="">
                    <div class="desc-wrapper">
                        <br>
                        <h5 class="card-title">Plain Tee - White </h5>
                        <p class="card-text">RM 40.00</p>
                        <a href="#" class="btn btn-outline-success btn-sm">Check it out</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<%- include("partials/footer") %>